# Puerto del servidor
PORT=8080

# Ruta al archivo de credenciales de Firebase Admin SDK
FIREBASE_CREDENTIALS_PATH=../finatiol-firebase-adminsdk-fbsvc-3e52add403.json

# Entorno (development | production)
GIN_MODE=debug
